In [1]:
import pandas as pd
import numpy as np

import os

def load_hotel_reserve():
  customer_tb = pd.read_csv('./data/customer.csv')
  hotel_tb = pd.read_csv('./data/hotel.csv')
  reserve_tb = pd.read_csv('./data/reserve.csv')
  return customer_tb, hotel_tb, reserve_tb


def load_holiday_mst():
  holiday_tb = pd.read_csv('./data/holiday_mst.csv',
                           index_col=False)
  return holiday_tb


def load_production():
  production_tb = pd.read_csv('./data/production.csv')
  return production_tb


def load_production_missing_num():
  production_tb = pd.read_csv('./data/production_missing_num.csv')
  return production_tb


def load_production_missing_category():
  production_tb = pd.read_csv('./data/production_missing_category.csv')
  return production_tb


def load_monthly_index():
  monthly_index_tb = \
    pd.read_csv('./data/monthly_index.csv')
  return monthly_index_tb


def load_meros_txt():
  with open('./data/txt/meros.txt', 'r') as f:
    meros = f.read()
    f.close()
  return meros

In [2]:
customer_tb, hotel_tb, reserve_tb = load_hotel_reserve()

### 3ÌöåÏ∞® ‚Äì Îç∞Ïù¥ÌÑ∞Ïùò ÏÑ∏Î∂Ä ÎÇ¥Ïö© Ï†ÑÏ≤òÎ¶¨

#### 1. ÏàòÏπò Îç∞Ïù¥ÌÑ∞ Ï†ÑÏ≤òÎ¶¨ Í∏∞Î≤ï
- ÏàòÏπò Îç∞Ïù¥ÌÑ∞ ÌòïÏãùÏúºÎ°úÏùò Î≥ÄÌôò 

    -> ÏõêÏπôÏ†ÅÏúºÎ°ú ÏàòÏπòÌòï Îç∞Ïù¥ÌÑ∞Ïó¥ÏùÄ ÏàòÏπòÌòïÏúºÎ°ú ÏûêÎèô Î≥ÄÌôò

    -> Í∞íÏóê Î¨∏ÏûêÍ∞Ä ÏÑûÏù¥Í±∞ÎÇò Ï†ïÏàòÌòï/Î∂ÄÎèôÏÜåÏàòÏ†êÌòïÏùò Î≥ÄÌôòÏù¥ ÌïÑÏöîÌïú Í≤ΩÏö∞ Ï†ÑÏ≤òÎ¶¨ ÏûëÏóÖ ÌïÑÏöî

In [15]:
# Îã§ÏñëÌïú Îç∞Ïù¥ÌÑ∞Ìòï Î≥ÄÌôò
df = pd.DataFrame({"value": [40000 / 3]})

print(df.dtypes)

print('\n') # Îã§ÏñëÌïú ÏÇ¨Ïù¥Ï¶àÏùò Ï†ïÏàòÌòï Î≥ÄÌôò
print(df['value'].astype('int8'))
print(df['value'].astype('int16'))
print(df['value'].astype('int32'))
print(df['value'].astype('int64'))

print('\n') # Îã§ÏñëÌïú ÏÇ¨Ïù¥Ï¶àÏùò Ïã§ÏàòÌòï Î≥ÄÌôò
print(df['value'].astype('float16'))
print(df['value'].astype('float32'))
print(df['value'].astype('float64'))

print('\n') # Îç∞Ïù¥ÌÑ∞Ìòï ÏßÄÏ†ï Í∞ÄÎä•
print(df['value'].astype('int'))
print(df['value'].astype('float'))

value    float64
dtype: object


0    21
Name: value, dtype: int8
0    13333
Name: value, dtype: int16
0    13333
Name: value, dtype: int32
0    13333
Name: value, dtype: int64


0    13336.0
Name: value, dtype: float16
0    13333.333008
Name: value, dtype: float32
0    13333.333333
Name: value, dtype: float64


0    13333
Name: value, dtype: int64
0    13333.333333
Name: value, dtype: float64

c:\Users\EL087\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\formats\format.py:1458: RuntimeWarning: overflow encountered in cast
  has_large_values = (abs_vals > 1e6).any()

- Î°úÍ∑∏ Î≥ÄÌôò Îì± ÏßÄÏàò Í∏∞Î∞ò Ïä§ÏºÄÏùºÎßÅ

    -> ÏÑ†Ìòï Î™®Îç∏Î°ú ÌëúÌòÑÌï† Ïàò ÏóÜÎäî Î¨∏Ï†úÎ•º ÎπÑÏÑ†Ìòï Î™®Îç∏Î°ú Îã§Î£®Í∏∞ ÏúÑÌï¥ ÏàòÏπòÎ•º Î≥ÄÌôòÌïòÎäî Ï†ÑÏ≤òÎ¶¨Í∞Ä ÌïÑÏöî

    -> b = logùëé ùë• ÏãùÏùÑ Ïù¥Ïö©ÌïòÏó¨ b Í∞íÏùÑ Íµ¨ÌïòÎäî Î∞©Î≤ïÏùÑ ÎåÄÏàòÌôîÎùºÍ≥† Ìï®

In [ ]:
# hotel_priceÎ•º ÎåÄÏàòÌôîÌïòÏó¨ Ï†ÑÏ≤òÎ¶¨
reserve_tb['total_price_log'] = \
    reserve_tb['total_price'].apply(lambda x: np.log10(x / 1000 + 1))   # xÍ∞Ä 0ÏûÑÏùÑ ÌîºÌïòÍ∏∞ ÏúÑÌï¥ +1

reserve_tb['total_price_log']

0       1.992111
1       1.334454
2       1.539076
3       2.290925
4       1.839478
          ...
4025    1.230449
4026    1.631444
4027    1.879669
4028    2.733197
4029    1.654177
Name: total_price_log, Length: 4030, dtype: float64

- ÏàúÏúÑ ÎòêÎäî Î∂ÑÏúÑÏàòÎ•º ÌôúÏö©Ìïú Ïä§ÏºÄÏùºÎßÅ

    -> Î≤îÏ£ºÌôîÎûÄ ÏàòÏπòÎ•º Îã§ÏàòÏùò ÌîåÎûòÍ∑∏Í∞í(TRUE or FALSE)ÏúºÎ°ú Î≥ÄÌôòÌïòÎäî Í≤É

    -> ÎåÄÏàòÌôîÎßåÏúºÎ°ú Î≥µÏû°Ìïú Î≥ÄÌôîÎ•º Ï∂©Î∂ÑÌûà ÌëúÌòÑÌï† Ïàò ÏóÜÏùÑ Îïå Î≤îÏ£ºÌôîÎ•º ÏÇ¨Ïö©

    - ÎåÄÏàòÌôî: Îç∞Ïù¥ÌÑ∞Ïùò Í∞íÏù¥ Ïó∞ÏÜçÏ†ÅÏù¥Í±∞ÎÇò ÏàòÌïôÏ†ÅÏù∏ ÌÅ¨Í∏∞Î•º Í∞ÄÏßÄÎäî Í≤ΩÏö∞

In [17]:
# Í≥†Í∞ù ÌÖåÏù¥Î∏îÏùò ÎÇòÏù¥Î•º 10Îã®ÏúÑÏùò Î≤îÏ£ºÌòïÏúºÎ°ú Ï∂îÍ∞Ä
customer_tb['age_rank'] = \
    (np.floor(customer_tb['age'] / 10 ) * 10).astype('category')

print(customer_tb['age_rank'])

0      40.0
1      30.0
2      40.0
3      40.0
4      30.0
       ...
995    40.0
996    30.0
997    30.0
998    40.0
999    30.0
Name: age_rank, Length: 1000, dtype: category
Categories (7, float64): [20.0, 30.0, 40.0, 50.0, 60.0, 70.0, 80.0]

- Ï†ïÍ∑úÌôî

    -> Í∞íÏù¥ Í∞ÄÏßà Ïàò ÏûàÎäî Î≤îÏúÑÎ•º ÌÜµÏùºÌïòÎäî Î≥ÄÌôòÏ≤òÎ¶¨

    -> Î®∏Ïã†Îü¨Îãù Î™®Îç∏Ïùò ÏûÖÎ†•Í∞íÏù¥ Í∞ÄÏßà Ïàò ÏûàÎäî Î≤îÏúÑÎ•º Í∑†ÏùºÌïòÍ≤å Ïú†ÏßÄÌïòÎäî Ïó≠Ìï†

    -> Ï†ïÍ∑úÌôîÏùò Îëê Í∞ÄÏßÄ Î∞©Î≤ï
    - ÌèâÍ∑† 0, Î∂ÑÏÇ∞ 1Î°ú Î≥ÄÌôòÌïòÎäî Ï†ïÍ∑úÌôî
    - ÏµúÏÜåÍ∞í 0, ÏµúÎåÄÍ∞í 1Î°ú Î≥ÄÌôòÌïòÎäî Ï†ïÍ∑úÌôî

In [18]:
# ÏòàÏïΩ Ïù∏ÏàòÏôÄ Ìï©Í≥Ñ Í∏àÏï°ÏùÑ ÌèâÍ∑† 0, Î∂ÑÏÇ∞ 1Ïùò Î∂ÑÌè¨Î°ú Î≥ÄÌôòÌïòÏó¨ Ï†ïÍ∑úÌôî
from sklearn.preprocessing import StandardScaler

reserve_tb['people_num'] = reserve_tb['people_num'].astype(float)

ss = StandardScaler()

result = ss.fit_transform(reserve_tb[['people_num', 'total_price']])

reserve_tb['people_num_normalized'] = [x[0] for x in result]
reserve_tb['total_price_normalized'] = [x[1] for x in result]

reserve_tb['people_num_normalized']

0       1.300709
1      -0.483753
2      -0.483753
3       1.300709
4       0.408478
          ...
4025   -0.483753
4026   -0.483753
4027   -0.483753
4028    1.300709
4029   -1.375984
Name: people_num_normalized, Length: 4030, dtype: float64

- Ïù¥ÏÉÅÍ∞í Ï≤òÎ¶¨

    -> ÎåÄÎ∂ÄÎ∂Ñ Í∞íÎ≥¥Îã§ Í∑πÎã®Ï†ÅÏúºÎ°ú ÌÅ¨Í±∞ÎÇò ÏûëÏùÄ Í∞í, Ï¶â ÏòàÏô∏ Í∞íÏùò ÏòÅÌñ•ÏúºÎ°ú Î¨∏Ï†úÍ∞Ä Î∞úÏÉù

    -> Ïù¥Îäî Ï†ïÍ∑úÌôîÎÇò ÏòàÏ∏°Î™®Îç∏ Íµ¨Ï∂ï Ïãú ÎÇòÏÅú ÏòÅÌñ•ÏùÑ ÎÅºÏπòÎØÄÎ°ú Ï†ÑÏ≤òÎ¶¨ Îã®Í≥ÑÏóêÏÑú Ï†úÍ±∞

    -> Ï†ïÍ∑úÎ∂ÑÌè¨Î•º Ï†ÑÏ†úÎ°ú Ìïú ÏòàÏô∏ Í∞í Í≤ÄÏ∂úÎ∞©Î≤ï
    - ÌëúÏ§ÄÌé∏Ï∞®Ïùò ÏùºÏ†ï Î∞∞Ïàò Ïù¥ÏÉÅ Îñ®Ïñ¥ÏßÑ Í∞íÏùÑ ÌèâÍ∑†Í∞íÏóêÏÑú Ï†úÍ±∞ÌïòÎäî Î∞©Î≤ï
    - Ï†ïÍ∑úÎ∂ÑÌè¨Ïóê Îî∞Î•∏ Í∞íÏùÄ ÌèâÍ∑†Í∞íÏóêÏÑú ÌëúÏ§ÄÌé∏Ï∞®Ïùò ÏÑ∏ Î∞∞ Ïù¥ÎÇ¥ Î≤îÏúÑÏóê 99.73%Í∞Ä ÏûàÏúºÎØÄÎ°ú 0.27%Î•º ÏòàÏô∏ Í∞íÏúºÎ°ú Î¥Ñ

In [20]:
# ÏòàÏïΩ ÌÖåÏù¥Î∏îÏùò ÏòàÏïΩ Ìï©Í≥ÑÍ∏àÏï°Ïùò ÌèâÍ∑†Í∞íÏóêÏÑú ÌëúÏ§ÄÌé∏Ï∞®Ïùò ÏÑ∏ Î∞∞ Ïù¥Ïô∏Ïùò Í∞íÏùÑ ÏÇ≠Ï†ú
reserve_tb = reserve_tb[
    (abs(reserve_tb['total_price'] - np.mean(reserve_tb['total_price'])) / 
     np.std(reserve_tb['total_price']) <= 3)
].reset_index()

reserve_tb

,level_0,index,reserve_id,hotel_id,customer_id,reserve_datetime,checkin_date,checkin_time,checkout_date,people_num,total_price,total_price_log,people_num_normalized,total_price_normalized
0,0,0,r1,h_75,c_1,2016-03-06 13:09:42,2016-03-26,10:00:00,2016-03-29,4.0,97200,1.992111,1.300709,-0.053194
1,1,1,r2,h_219,c_1,2016-07-16 23:39:55,2016-07-20,11:30:00,2016-07-21,2.0,20600,1.334454,-0.483753,-0.747822
2,2,2,r3,h_179,c_1,2016-09-24 10:03:17,2016-10-19,09:00:00,2016-10-22,2.0,33600,1.539076,-0.483753,-0.629935
3,3,3,r4,h_214,c_1,2017-03-08 03:20:10,2017-03-29,11:00:00,2017-03-30,4.0,194400,2.290925,1.300709,0.828240
4,4,4,r5,h_16,c_1,2017-09-05 19:50:37,2017-09-22,10:30:00,2017-09-23,3.0,68100,1.839478,0.408478,-0.317080
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3840,3927,4024,r4025,h_160,c_999,2017-03-11 11:56:05,2017-03-27,10:00:00,2017-03-30,1.0,37200,1.582063,-1.375984,-0.597289
3841,3928,4025,r4026,h_129,c_999,2017-06-27 23:00:02,2017-07-10,09:30:00,2017-07-11,2.0,16000,1.230449,-0.483753,-0.789536
3842,3929,4026,r4027,h_97,c_999,2017-09-29 05:24:57,2017-10-09,10:30:00,2017-10-10,2.0,41800,1.631444,-0.483753,-0.555575
3843,3930,4027,r4028,h_27,c_999,2018-03-14 05:01:45,2018-04-02,11:30:00,2018-04-04,2.0,74800,1.879669,-0.483753,-0.256323
3844,3931,4029,r4030,h_117,c_1000,2016-06-06 08:16:51,2016-07-06,09:00:00,2016-07-09,1.0,44100,1.654177,-1.375984,-0.534718

- Ï£ºÏÑ±Î∂Ñ Í∏∞Î∞ò Ï∞®Ïõê Ï∂ïÏÜå

    -> ÏûÖÎ†•Í∞íÏùò Ï¢ÖÎ•òÍ∞Ä ÎßéÏùÑÏàòÎ°ù Î®∏Ïã†Îü¨Îãù Î™®Îç∏Ïù¥ Í≤ΩÌñ•ÏùÑ ÌïôÏäµÌïòÎäîÎç∞ ÌïÑÏöîÌïú Îç∞Ïù¥ÌÑ∞Ïùò ÏñëÏù¥ Ïª§Ïßê

    -> Ï£ºÏÑ±Î∂Ñ Î∂ÑÏÑùÏùÑ Ïù¥Ïö©ÌïòÏó¨ Ï∞®Ïõê(ÏûÖÎ†•Í∞íÏùò Ï¢ÖÎ•ò)ÏùÑ Ï§ÑÏù¥Î©¥ Îç∞Ïù¥ÌÑ∞ ÏñëÏù¥ Ï§ÑÏó¨ ÏâΩÍ≤å ÌïôÏäµ Í∞ÄÎä•

In [21]:
# PCA ÌÅ¥ÎûòÏä§Î•º Ïù¥Ïö©ÌïòÏó¨ Ï£ºÏÑ±Î∂Ñ Î∂ÑÏÑùÏùÑ Íµ¨ÌòÑ
production_tb = load_production()

from sklearn.decomposition import PCA

pca = PCA(n_components=2)   # 2Í∞úÏùò Ï£ºÏÑ±Î∂ÑÏúºÎ°ú PCA Í∞ùÏ≤¥ ÏÉùÏÑ±

pca_values = pca.fit_transform(production_tb[['length', 'thickness']])

print('ÎàÑÏ†Å Í∏∞Ïó¨Ïú®: {0}'.format(sum(pca.explained_variance_ratio_)))
print('Í∞Å Ï∞®ÏõêÏùò Í∏∞Ïó¨Ïú®: {0}'.format(pca.explained_variance_ratio_))

pca_newvalues = pca.transform(production_tb[['length', 'thickness']])

pca_newvalues

ÎàÑÏ†Å Í∏∞Ïó¨Ïú®: 1.0
Í∞Å Ï∞®ÏõêÏùò Í∏∞Ïó¨Ïú®: [0.97897794 0.02102206]

array([[  76.96838157,   13.38906936],
       [-112.11469337,    8.24884796],
       [ -76.1994339 ,  -11.19027127],
       ...,
       [  31.12100559,  -15.48152593],
       [-117.87675543,   -2.4361334 ],
       [   4.80243541,   15.32174872]], shape=(1000, 2))

- Í≤∞Ï∏°Í∞í Ï≤òÎ¶¨ Í∏∞Î≤ï - ÎàÑÎùΩÎêú Ìñâ Ï†úÍ±∞

In [ ]:
# thicknessÏóê Í≤∞ÏÜêÏù¥ Î∞úÏÉùÌïú Ï†úÏ°∞ Î†àÏΩîÎìú ÏÇ¨Ïö© Ïãú Í≤∞ÏÜêÎêú Î†àÏΩîÎìú Ï†úÍ±∞
production_miss_num = load_production_missing_num()

production_miss_num.replace('None', np.nan, inplace=True) # NoneÏùÑ nanÏúºÎ°ú ÍµêÏ≤¥

production_miss_num.dropna(subset=['thickness'], inplace=True) # dropnaÎ°ú nan Î†àÏΩîÎìú Ï†úÍ±∞

production_miss_num

    type      length  thickness  fault_flg
0      E  274.027383  40.241131      False
1      D   86.319269  16.906715      False
2      E  123.940388   1.018462      False
3      B  175.554886  16.414924      False
4      B  244.934740  29.061081      False
..   ...         ...        ...        ...
995    C  363.214163  48.369483      False
996    D  134.773797  26.861665      False
997    B  231.174985   7.087471      False
998    D   81.613510   5.716271      False
999    C  202.010973  35.211647       True

[892 rows x 4 columns]

- Í≤∞Ï∏°Í∞í Ï≤òÎ¶¨ Í∏∞Î≤ï - Í≥†Ï†ïÍ∞í ÎåÄÏ≤¥

In [25]:
# thicknessÏóê Í≤∞ÏÜêÏù¥ Î∞úÏÉùÌïú Ï†úÏ°∞ Î†àÏΩîÎìú ÏÇ¨Ïö© Ïãú 1Î°ú Î≥¥ÏôÑ
production_miss_num.replace('None', np.nan, inplace=True) # NoneÏùÑ nanÏúºÎ°ú ÍµêÏ≤¥

production_miss_num['thickness'].fillna(1, inplace=True) # nan Í∞íÏùÑ 1Î°ú ÎåÄÏ≤¥

production_miss_num

C:\Users\EL087\AppData\Local\Temp\ipykernel_9016\1009159008.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  production_miss_num['thickness'].fillna(1, inplace=True) # nan Í∞íÏùÑ 1Î°ú ÎåÄÏ≤¥

    type      length  thickness  fault_flg
0      E  274.027383  40.241131      False
1      D   86.319269  16.906715      False
2      E  123.940388   1.018462      False
3      B  175.554886  16.414924      False
4      B  244.934740  29.061081      False
..   ...         ...        ...        ...
995    C  363.214163  48.369483      False
996    D  134.773797  26.861665      False
997    B  231.174985   7.087471      False
998    D   81.613510   5.716271      False
999    C  202.010973  35.211647       True

[892 rows x 4 columns]

- Í≤∞Ï∏°Í∞í Ï≤òÎ¶¨ Í∏∞Î≤ï - ÌèâÍ∑†Í∞í ÎåÄÏ≤¥

In [26]:
# thicknessÏóê Í≤∞ÏÜêÏù¥ Î∞úÏÉùÌïú Ï†úÏ°∞ Î†àÏΩîÎìú ÏÇ¨Ïö© Ïãú ÌèâÍ∑†Í∞íÏúºÎ°ú Î≥¥ÏôÑ
production_miss_num.replace('None', np.nan, inplace=True) # NoneÏùÑ nanÏúºÎ°ú ÍµêÏ≤¥

production_miss_num['thickness'] = \
    production_miss_num['thickness'].astype('float64') # Ïã§ÏàòÍ∞íÏúºÎ°ú Î≥ÄÍ≤Ω

thickness_mean = production_miss_num['thickness'].mean()

production_miss_num['thickness'].fillna(thickness_mean, inplace=True) # nanÏùÑ ÌèâÍ∑†Í∞íÏúºÎ°ú ÍµêÏ≤¥

production_miss_num

C:\Users\EL087\AppData\Local\Temp\ipykernel_9016\1105845556.py:9: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  production_miss_num['thickness'].fillna(thickness_mean, inplace=True) # nanÏùÑ ÌèâÍ∑†Í∞íÏúºÎ°ú ÍµêÏ≤¥

    type      length  thickness  fault_flg
0      E  274.027383  40.241131      False
1      D   86.319269  16.906715      False
2      E  123.940388   1.018462      False
3      B  175.554886  16.414924      False
4      B  244.934740  29.061081      False
..   ...         ...        ...        ...
995    C  363.214163  48.369483      False
996    D  134.773797  26.861665      False
997    B  231.174985   7.087471      False
998    D   81.613510   5.716271      False
999    C  202.010973  35.211647       True

[892 rows x 4 columns]